.PlayPlaylist{
    overflow: scroll;
    height:80vh;
}
.PlayPlaylist::-webkit-scrollbar {
    width: 1em;
  }
   
  .PlayPlaylist::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(38, 38, 38, 0.358);
    background-color: rgba(0, 0, 0, 0.2);
  }
   
  .PlayPlaylist::-webkit-scrollbar-thumb {
    background-color: #e6e6e69d;
  }
  .PlayPlaylist::-webkit-scrollbar-thumb:hover{
    background-color:  #e6e6e6de;
}
.playlist {
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
    
.Playlistimg {
    height: 12rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
.details {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: #e0dede;
}
.title {
    color: white;
    font-size: 2rem;    
}
.header-row {
    display: grid;
    grid-template-columns: 0.3fr 3fr 3fr 0.1fr;
    margin: 1rem 0 0 0;
    color: #dddcdc;
    position: sticky;
    top: 0%;
    padding: 1rem 3rem;
    transition: 0.3s ease-in-out;
    background-color: #000000e7;
    height: 10px;
    .Hcol {
        display: flex;
        align-items: center;
        color: #dddcdc;  
        height: 10px;
    }
}    
.tracks {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    font-size: 12px;
    }
.rowB {
    padding: 0.6rem 1rem;
    display: grid;
    grid-template-columns: 0.3fr 3fr 3fr 0.1fr;

}
.rowB:hover {
    background-color: rgba(0, 0, 0, 0.354);
    border-radius: 5px;
}
.col {
    display: flex;
    align-items: center;
    color: #dddcdc;  
}

img {
   height: 2rem;
}
.detail {
    display: flex;
    gap: 1rem; 
}
 .info {
     display: flex;
    flex-direction: column;
}