.Footer{
    height: 100%;
    width: 100%;
    background-color: #181818;
    border-top: 1px solid #282828;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.track{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.Playerinfo {
    display: flex;
    flex-direction: column;
    /* gap: 0.3rem; */
  }
.trackname{
    color: white;
    margin-top: 1px;
}
.trackartists{
    color: #b3b3b3;
    margin-top: -12px;
}

.image{
   height: 100px;
}

.imgcur{
    height: 10vh;
    width: 10vh;
    padding-top: 10px;
}

.Playcontrols{
    display: flex;
    gap:2rem;
}
.MainPlayerControls{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

.previous,.next,.state {
    font-size: 2rem;
}
.MainPlayerControls > svg {
    color: #b3b3b3;
    transition: 0.2s ease-in-out;
}
.MainStuffs{
    height: 90px;
}
input {
    height: 4px;
    appearance: none;
    width: 200px;
    margin: 2px;
    border-radius: 8px;
    transition: 0.2s ease;
    background-color: #5e5e5e;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
  }
  
  input[type="range"]:hover {
    background: rgb(255, 255, 255);
  }
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
  }
  .volume{
    padding-top: -55px;
  }