.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 1px;
    position: sticky;
    top: 0;
    transition: 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.419);
  }
  
  .avatar {
      background-color: rgba(0, 0, 0, 0.53);
      padding: 0.3rem 0.4rem;
      /* padding-right: 1rem; */
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center; 
      width: auto;
      height: 20px;
  }
  .user {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      color: white;
      font-weight: bold;
      
  }
  .img{
      border-radius: 20px;
      height: 20px;
     
  }
  
  #name{
      font-size: 15px;
      padding-left: 5px;
  }
